/* Global styles */

@font-face {
  font-family: 'ProximaNova-SBold';
  src: local('ProximaNova-Sbold'),
    url('../assets/fonts/ProximaNova-Sbold.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova-Reg';
  src: local('ProximaNova-Reg'),
    url('../assets/fonts/ProximaNova-Reg.ttf') format('truetype');
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: local('ProximaNova-Bold'), url('../assets/fonts/ProximaNova-Bold.otf');
}

@font-face {
  font-family: 'Brandon-Bold';
  src: local('Brandon_bld'), url('../assets/fonts/Brandon_bld.otf');
}

@font-face {
  font-family: 'Brandon-Reg';
  src: local('Brandon_reg'),
    url('../assets/fonts/Brandon_reg.otf') format('truetype');
}

@font-face {
  font-family: 'Brandon-SBold';
  src: local('Brandon_med'), url('../assets/fonts/Brandon_med.otf');
}

@font-face {
  font-family: 'Brandon_light';
  src: local('Brandon_light'), url('../assets/fonts/Brandon_light.otf');
}

@font-face {
  font-family: 'Futura';
  src: local('futuram-webfont'), url('../assets/fonts/futuram-webfont.woff');
}

@font-face {
  font-family: 'Fabio-Handwriting';
  src: local('Fabio_Handwriting'), url('../assets/fonts/Fabio_Handwriting.ttf');
}

@font-face {
  font-family: 'FreightDisp-Book';
  src: local('FreightDisp_book'), url('../assets/fonts/FreightDisp_book.otf');
}

a, a:visited {
  color: #666666;
}

.clear {
  clear: both;
}

td {
  border-top: solid 1px #d3d3d3;
}

td, th {
  padding: 20px;
}

table {
  border-collapse:collapse;
}

/* Documentation site component styles */
.example {
  border: solid 1px #d3d3d3;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fbfbfb;
}

.example h4:first-of-type {
   margin-top: 0;
}

.example p:last-of-type {
   margin-bottom: 0;
}

.props tr td:last-of-type {
  text-align: center;
}

.props th, td {
  text-align: left;
  padding: 5px;
}

.navigation {
  float: left;
  width: 250px;
  list-style-type: none;
  padding: 0;
}

.componentpage {
  margin-left: 275px;
}

body {
  font-family: ProximaNova-Reg;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.normal {
  font-family: ProximaNova-Reg;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.semibold {
  font-family: ProximaNova-SBold;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.small {
  font-family: ProximaNova-Reg;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}

.semibold.small {
  font-family: ProximaNova-SBold;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}

.tiny {
  font-family: ProximaNova-Reg;
  font-size: 13px;
  line-height: 19px;
  color: #999999;
}

h1 {
  font-family: Brandon-SBold;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

h2 {
  font-family: Brandon-SBold;
  font-size: 26px;
  line-height: 36px;
  color: #333333;
}

h2.serif {
  font-family: Georgia;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
}

h3 {
  font-family: Brandon-Bold;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #333333;
}

h4 {
  font-family: Brandon-Bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}

label {
  font-family: ProximaNova-SBold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #999999;
}

label.small {
  font-family: ProximaNova-SBold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #999999;
}

blockquote {
  font-family: Brandon-SBold;
  font-size: 40px;
  line-height: 60px;
  color: #333333;
}

.pullquote {
  font-family: Georgia;
  font-size: 26px;
  line-height: 36px;
  color: #333333;
  font-style: italic;
}

.pullquote.small {
  font-family: Georgia;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  font-style: italic;
}

.name {
  font-family: Fabio-Handwriting;
  font-size: 34px;
  line-height: 34px;
  color: #333333;
}

.name.small {
  font-family: Fabio-Handwriting;
  font-size: 28px;
  line-height: 28px;
  color: #333333;
}

.subhead {
  font-family: ProximaNova-Reg;
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}

.subhead-bold {
  font-family: ProximaNova-SBold;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 36px;
  }

  h2 {
    font-size: 20px;
    line-height: 30px;
  }

  h2.serif {
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #000000;
  }

  h3 {
    font-size: 22px;
    line-height: 24px;
    text-align: center;
  }

  blockquote {
    font-size: 30px;
    line-height: 46px;
  }

  .pullquote {
    font-size: 22px;
    line-height: 32px;
  }

  .subhead {
    font-size: 16px;
  }

  .subhead-bold {
    font-size: 16px;
  }
}
